.book-style {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.book-style:hover {
  cursor: pointer;
}
.book-style .book-top {
  position: relative;
}
.book-style .book-top .book-cover {
  width: 140px;
  height: 193px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  margin-bottom: 5px;
}
.book-style .book-top .book-shelf-changer {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #09af00;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  bottom: -2px;
  background-image: url(../../assets/arrowdrop.png);
  background-repeat: no-repeat;
  background-position: right 8px top 10px;
  background-size: 25px;
}
.book-style .book-top .book-shelf-changer:active {
  transform: scale(1.1);
}
.book-style .book-top .book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: rgba(5, 17, 56, 0.185);
}
.book-style .book-top .book-shelf-changer select option:first-of-type {
  text-align: center;
}

.book-style .book-title {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.book-style .book-authors {
  font-weight: 600;
  font-size: 14px;
  color: rgb(139, 138, 138);
}
