.currently-reading {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  height: 300px;
  margin: auto;
  margin-top: -15rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.currently-reading h2 {
  font-size: 1.5rem;
  margin-top: 0;
}
